In [1]:
import numpy as np
import pandas as pd
from scipy import special
from random import sample
import itertools
from datetime import timedelta
from IPython.display import display

In [2]:
fraude_df = pd.read_csv("Fraud_Data.csv",header=0)
ISP_df = pd.read_csv("IpAddress_to_Country.csv",header=0)

In [3]:
fraude_df.dtypes

id                  int64
cadastro           object
compra             object
valor               int64
id_dispositivo     object
fonte              object
browser            object
genero             object
idade               int64
ip                float64
fraude              int64
dtype: object

In [4]:
print('Checando valores nulos')
for col in fraude_df.columns:
    print('# de valores nulos em {}: {}'.format(col,fraude_df[col].isnull().sum()))

Checando valores nulos
# de valores nulos em id: 0
# de valores nulos em cadastro: 0
# de valores nulos em compra: 0
# de valores nulos em valor: 0
# de valores nulos em id_dispositivo: 0
# de valores nulos em fonte: 0
# de valores nulos em browser: 0
# de valores nulos em genero: 0
# de valores nulos em idade: 0
# de valores nulos em ip: 0
# de valores nulos em fraude: 0

In [5]:
fraude_df.describe()

,id,valor,idade,ip,fraude
count,151112.000000,151112.000000,151112.000000,1.511120e+05,151112.000000
mean,200171.040970,36.935372,33.140704,2.152145e+09,0.093646
std,115369.285024,18.322762,8.617733,1.248497e+09,0.291336
min,2.000000,9.000000,18.000000,5.209350e+04,0.000000
25%,100642.500000,22.000000,27.000000,1.085934e+09,0.000000
50%,199958.000000,35.000000,33.000000,2.154770e+09,0.000000
75%,300054.000000,49.000000,39.000000,3.243258e+09,0.000000
max,400000.000000,154.000000,76.000000,4.294850e+09,1.000000

In [6]:
for col in ISP_df.columns:
    print('{}:{}'.format(col,ISP_df[col].dtype))

limite_inferior_ip:float64
limite_superior_ip:int64
pais:object

In [7]:
ip_floats = ISP_df.limite_inferior_ip.apply(lambda x: not x.is_integer()).sum()
print('Número de limites inferiores de endereço IP com decimal não-zero: {}'.format(ip_floats))

Número de limites inferiores de endereço IP com decimal não-zero: 0

In [8]:
ISP_df.limite_inferior_ip = ISP_df.limite_inferior_ip.astype(int)

In [9]:
for col in ISP_df.columns:
    print('# de valores nulos em {}: {}'.format(col,ISP_df[col].isnull().sum()))

# de valores nulos em limite_inferior_ip: 0
# de valores nulos em limite_superior_ip: 0
# de valores nulos em pais: 0

In [10]:
ISP_df.describe()

       limite_inferior_ip  limite_superior_ip
count        1.388460e+05        1.388460e+05
mean        -1.214785e+09        2.724557e+09
std          1.563396e+09        8.974979e+08
min         -2.147484e+09        1.677747e+07
25%         -2.147484e+09        1.920008e+09
50%         -2.147484e+09        3.230888e+09
75%          5.228780e+08        3.350466e+09
max          2.113929e+09        3.758096e+09

In [11]:
display(ISP_df[ISP_df.limite_inferior_ip == ISP_df.limite_inferior_ip.max()])
display(ISP_df[ISP_df.limite_superior_ip == ISP_df.limite_superior_ip.max()])

       limite_inferior_ip  limite_superior_ip   pais
37035          2113929216          2130706431  Japan

        limite_inferior_ip  limite_superior_ip       pais
138845         -2147483648          3758096383  Australia

In [12]:
ISP_df.describe()

       limite_inferior_ip  limite_superior_ip
count        1.388460e+05        1.388460e+05
mean        -1.214785e+09        2.724557e+09
std          1.563396e+09        8.974979e+08
min         -2.147484e+09        1.677747e+07
25%         -2.147484e+09        1.920008e+09
50%         -2.147484e+09        3.230888e+09
75%          5.228780e+08        3.350466e+09
max          2.113929e+09        3.758096e+09

In [13]:
fraude_df.describe()

,id,valor,idade,ip,fraude
count,151112.000000,151112.000000,151112.000000,1.511120e+05,151112.000000
mean,200171.040970,36.935372,33.140704,2.152145e+09,0.093646
std,115369.285024,18.322762,8.617733,1.248497e+09,0.291336
min,2.000000,9.000000,18.000000,5.209350e+04,0.000000
25%,100642.500000,22.000000,27.000000,1.085934e+09,0.000000
50%,199958.000000,35.000000,33.000000,2.154770e+09,0.000000
75%,300054.000000,49.000000,39.000000,3.243258e+09,0.000000
max,400000.000000,154.000000,76.000000,4.294850e+09,1.000000

In [ ]:
def isp_counts(isp):
    pais = ISP_df[(ISP_df.limite_inferior_ip <= isp) & (ISP_df.limite_superior_ip >= isp)].pais
    if pais.shape[0] == 1:
        return print("Único")
    elif pais.shape[0] > 1:
        return print("Vários países")
    elif pais.shape[0] == 0:
        if isp > ISP_df.limite_superior_ip.max():
            return print("Muito grande")
        elif isp < ISP_df.limite_inferior_ip.min():
            return print("Muito pequeno")
        else:
            return print("Faltando")
        
ip_counts = fraude_df.ip.apply(isp_counts)
ip_counts.value_counts()

In [ ]:
def ip_para_pais(ip):
    tmp = ISP_df[(ISP_df.limite_inferior_ip <= ip)
                & (ISP_df.limite_superior_ip >= ip)].pais
    if tmp.shape[0] == 1:
        return tmp.iloc[0]
    elif tmp.shape[0] < 1:
        return print("Faltando")
    elif tmp.shape[0] > 1:
        return print("Erro")
    
fraude_df["pais"] = fraude_df.ip.apply(ip_para_pais)

In [ ]:
fraude_df.head()

In [ ]:
#fraude_df.to_csv("Dados_fraude_com_pais", index=False)
fraude_df = pd.read_csv("Dados_fraude_com_pais", header=0)
fraude_df.head()