In [1]:
import numpy as np
import pandas as pd
from scipy import special

import itertools
from datetime import timedelta
from IPython.display import display

In [2]:
fraude_df = pd.read_csv("Fraud_Data.csv", header=0)

In [3]:
ISP_df = pd.read_csv("ipAddress_to_Country.csv", header=0)

In [4]:
fraude_df.dtypes

id                  int64
cadastro           object
compra             object
valor               int64
id_dispositivo     object
fonte              object
browser            object
genero             object
idade               int64
ip                float64
fraude              int64
dtype: object

In [5]:
fraude_df.isnull().sum()

id                0
cadastro          0
compra            0
valor             0
id_dispositivo    0
fonte             0
browser           0
genero            0
idade             0
ip                0
fraude            0
dtype: int64

In [6]:
fraude_df.describe()

,id,valor,idade,ip,fraude
count,151112.000000,151112.000000,151112.000000,1.511120e+05,151112.000000
mean,200171.040970,36.935372,33.140704,2.152145e+09,0.093646
std,115369.285024,18.322762,8.617733,1.248497e+09,0.291336
min,2.000000,9.000000,18.000000,5.209350e+04,0.000000
25%,100642.500000,22.000000,27.000000,1.085934e+09,0.000000
50%,199958.000000,35.000000,33.000000,2.154770e+09,0.000000
75%,300054.000000,49.000000,39.000000,3.243258e+09,0.000000
max,400000.000000,154.000000,76.000000,4.294850e+09,1.000000

In [7]:
ISP_df.dtypes

limite_inferior_ip    float64
limite_superior_ip      int64
pais                   object
dtype: object

In [8]:
ip_floats = ISP_df.limite_inferior_ip.apply(lambda x: not x.is_integer()).sum()
print("Número de limites inferiores de endereço IP com decimal não-zero: {}".format(ip_floats))

Número de limites inferiores de endereço IP com decimal não-zero: 0

In [9]:
ISP_df.limite_inferior_ip = ISP_df.limite_inferior_ip.astype(int)

In [10]:
ISP_df.isnull().sum()

limite_inferior_ip    0
limite_superior_ip    0
pais                  0
dtype: int64

In [11]:
ISP_df.describe()

       limite_inferior_ip  limite_superior_ip
count        1.388460e+05        1.388460e+05
mean        -1.214785e+09        2.724557e+09
std          1.563396e+09        8.974979e+08
min         -2.147484e+09        1.677747e+07
25%         -2.147484e+09        1.920008e+09
50%         -2.147484e+09        3.230888e+09
75%          5.228780e+08        3.350466e+09
max          2.113929e+09        3.758096e+09

In [12]:
display(ISP_df[ISP_df.limite_inferior_ip == ISP_df.limite_inferior_ip.max()])
display(ISP_df[ISP_df.limite_superior_ip == ISP_df.limite_superior_ip.max()])

       limite_inferior_ip  limite_superior_ip   pais
37035          2113929216          2130706431  Japan

        limite_inferior_ip  limite_superior_ip       pais
138845         -2147483648          3758096383  Australia